#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        hgat: hgat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp G &kp A &kp T>;
            label = "HGAT";
        };

        nsh: nsh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N) &kp S &kp H>;
            label = "NSH";
        };

        hatt: hatt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp A &kp T &kp T>;
            label = "HATT";
        };

        hatm: hatm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp A &kp T &kp M>;
            label = "HATM";
        };

        hatb: hatb {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp A &kp T &kp B>;
            label = "HATB";
        };

        hsf: hsf {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp S &kp F>;
            label = "HSF";
        };

        hfc: hfc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp F &kp C>;
            label = "HFC";
        };

        hso: hso {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp S &kp O>;
            label = "HSO";
        };

        hu: hu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp U>;
            label = "HU";
        };

        hn: hn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp N>;
            label = "HN";
        };

        hgab: hgab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp G &kp A &kp B>;
            label = "HGAB";
        };

        hgal: hgal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp G &kp A &kp L>;
            label = "HGAL";
        };

        hgar: hgar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp G &kp A &kp R>;
            label = "HGAR";
        };

        hgr: hgr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp G &kp R>;
            label = "HGR";
        };

        hgk: hgk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp G &kp K>;
            label = "HGK";
        };

        nt: nt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N) &kp T>;
            label = "NT";
        };

        jlv: jlv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 500>,
                <&kp J &kp L &kp V>;

            label = "JLV";
        };

        jle: jle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 500>,
                <&kp J &kp L &kp E>;

            label = "JLE";
        };

        jli: jli {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 500>,
                <&kp J &kp L &kp I>;

            label = "JLI";
        };

        jlL: jlL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 500>,
                <&kp J &kp L &kp L>;

            label = "JLL";
        };

        jlm: jlm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 500>,
                <&kp J &kp L &kp M>;

            label = "JLM";
        };

        jlp: jlp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 500>,
                <&kp J &kp L &kp P>;

            label = "JLP";
        };

        jldc: jldc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 500>,
                <&kp J &kp L &kp D &kp C>;

            label = "JLDC";
        };

        jldr: jldr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 500>,
                <&kp J &kp L &kp D &kp R>;

            label = "JLDR";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: キーボード操作用レイヤー（文字入力） */

        Base {
            bindings = <
&kp TAB    &kp Q     &kp W     &kp E      &kp R        &kp T      &kp Y      &kp U        &kp I      &kp O     &kp P         &kp BSPC
&kp CAPS   &kp A     &kp S     &kp D      &kp F        &kp G      &kp H      &kp J        &kp K      &kp L     &kp MINUS     &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V        &kp B      &kp N      &kp M        &kp COMMA  &kp DOT   &kp UP_ARROW  &kp RSHFT
&kp LCTRL  &kp LGUI  &kp LALT  &kp SPACE  &lt 1 SPACE  &mkp LCLK  &mkp RCLK  &lt 5 SPACE  &kp SPACE  &kp LEFT  &kp DOWN      &kp RIGHT
            >;
        };

        EX {
            bindings = <
&bt BT_SEL 0    &none  &kp AT_SIGN   &kp EXCLAMATION       &kp QUESTION           &none   &none   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none  &none
&bt BT_SEL 1    &none  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none   &none   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none  &none
&bt BT_SEL 2    &none  &kp PLUS      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none   &none   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none  &none
&bt BT_CLR_ALL  &none  &none         &none                 &none                  &trans  &trans  &none            &kp KP_NUMBER_0  &none            &none  &none
            >;
        };

        PPT {
            bindings = <
&none  &hu    &hn        &kp LC(LS(COMMA))  &kp LC(LS(PERIOD))  &hatt   &nt     &none  &hgat  &none  &none  &none
&none  &none  &kp LC(L)  &kp LC(E)          &kp LC(R)           &hatm   &nsh    &hgal  &hgab  &hgar  &none  &none
&none  &none  &hfc       &hso               &hsf                &hatb   &none   &jlp   &jlv   &jlm   &jldc  &none
&none  &none  &none      &none              &none               &trans  &trans  &jlL   &jle   &jli   &jldr  &none
            >;
        };

        PPT1 {
            bindings = <
&none  &none  &hgk   &hgat  &hgr   &none   &none   &none  &none  &none  &none  &none
&none  &none  &hgal  &hgab  &hgar  &none   &none   &nsh   &none  &none  &none  &none
&none  &none  &none  &none  &none  &none   &none   &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &trans  &trans  &none  &none  &none  &none  &none
            >;
        };

        PPT2 {
            bindings = <
&none  &none  &jlm   &jlv   &jlp   &jldc   &none   &none  &none  &none  &none  &none
&none  &none  &jlL   &jle   &jli   &jldr   &none   &none  &nt    &none  &none  &none
&none  &none  &none  &none  &none  &none   &none   &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &trans  &trans  &none  &none  &none  &none  &none
            >;
        };

        WIN {
            bindings = <
&none  &kp LC(MINUS)  &kp LC(SEMICOLON)  &kp LC(C)        &kp LC(V)    &kp LG(V)  &none      &none             &kp LG(UP)    &none              &none         &kp BACKSPACE
&none  &none          &none              &kp LG(TAB)      &kp LA(TAB)  &none      &none      &kp LG(LS(LEFT))  &kp LG(DOWN)  &kp LG(LS(RIGHT))  &none         &kp ENTER
&none  &none          &none              &kp LC(LS(TAB))  &kp LC(TAB)  &none      &none      &none             &none         &none              &kp UP_ARROW  &none
&none  &none          &none              &none            &none        &mkp LCLK  &mkp RCLK  &none             &none         &kp LEFT           &kp DOWN      &kp RIGHT
            >;
        };
    };
};
