#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        /* マクロ定義: 右クリックして、少し待ってからレイヤー0に戻る */
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: キーボード操作用レイヤー（文字入力） */

        layer_0 {
            bindings = <
&kp TAB    &kp Q     &kp W     &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O     &kp P         &kp BSPC
&kp ESC    &kp A     &kp S     &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L     &kp MINUS     &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V      &kp B      &kp N      &kp M      &kp COMMA  &kp DOT   &kp UP_ARROW  &kp RSHFT
&kp LCTRL  &kp LGUI  &kp LALT  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp LEFT  &kp DOWN      &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&none  &none  &kp AT_SIGN   &kp EXCLAMATION       &kp QUESTION           &none  &none  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none  &none
&none  &none  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none  &none  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none  &none
&none  &none  &none         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none  &none  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none  &none
&none  &none  &none         &none                 &none                  &none  &none  &kp COLON        &kp KP_NUMBER_0  &kp MINUS        &none  &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        /* Layer 4: マウス操作中レイヤー（Auto Mouse Layer）*/

        layer_4 {
            bindings = <
&kp TAB           &kp LC(MINUS)  &kp LC(SEMICOLON)  &kp LC(C)        &kp LC(V)    &kp LG(V)  &none  &none             &none             &none              &none         &kp BACKSPACE
&kp CAPS          &kp LC(A)      &kp LC(D)          &kp LG(TAB)      &kp LA(TAB)  &none      &none  &mkp LCLK         &kp LG(UP_ARROW)  &mkp RCLK          &none         &kp ENTER
&kp LEFT_SHIFT    &kp LC(Z)      &kp LC(X)          &kp LC(LS(TAB))  &kp LC(TAB)  &none      &none  &kp LG(LS(LEFT))  &kp LG(DOWN)      &kp LG(LS(RIGHT))  &kp UP_ARROW  &none
&kp LEFT_CONTROL  &kp LEFT_WIN   &kp LEFT_ALT       &none            &none        &none      &to 0  &none             &none             &kp LEFT           &kp DOWN      &kp RIGHT
            >;
        };
    };
};
